.spin{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}